@media screen and (max-width: 400px){
   body {
        background-color: chocolate;
    }
}


/*image
{
  padding:10px;
  background-color:white;
  width:200px;
  height:300px;
}

#header
{
    position: fixed;
}



/*.nav-link{
    display: flex;
    color: aquamarine;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}*/

#nav-bar {
    display:flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cc0000;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 1px;
  }

h1{
color: blueviolet;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    color:blue;
    background-color:white;
    margin: 0.5px;
}