@media screen and (max-width: 400px){
   body {
        background-color: chocolate;
    }
}


#header-img{
    
    height: auto;
    max-width: 100%;

}

#header
{
    position: fixed;
}



.nav-link{
    display: flex;
    color: aquamarine;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h1{
color: blueviolet;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    display: block;
}